/* Modal styles */
/* General Modal Styles (Shared) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h1 {
    text-align: center;
    margin-bottom: 20px;
}

.modal input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.modal button:hover {
    opacity: 0.8;
}

.modal .forgot-password,
.modal .signup-link{
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007BFF;
    cursor: pointer;
}

.modal .forgot-password:hover,
.modal .signup-link:hover{
    text-decoration: underline;
}
.modal .login-guide,
.modal .signup-guide {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007BFF;
    cursor: pointer;
}

.modal .login-guide:hover,
.modal .signup-guide:hover {
    text-decoration: underline;
}
